<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Напоминалки</title>
    {% load static %}
    <!-- Bootstrap CSS (опционально, для стилей) -->
    <link href="{% static 'reminders/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'reminders/css/vue-multiselect.css' %}" rel="stylesheet">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="container mt-4">
        <h2>Django -> Telegram - Напоминалки</h2>
        <nav>
            <a href="{% url 'reminder_list' %}" class="btn btn-primary">Напоминания</a>
            <a href="{% url 'group_list' %}" class="btn btn-secondary">Группы</a>
            <a href="{% url 'useringroup_list' %}" class="btn btn-secondary">Пользователи</a>
            <a href="{% url 'instruction' %}" class="btn btn-info">Инструкция</a>
        </nav>
        <hr>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
    </div>

    <!-- Bootstrap JS (опционально, для функций Bootstrap) -->
    <script src="{% static '/reminders/js/bootstrap.bundle.min.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>